@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
<sction class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col text-center py-5">
                <h1 class="display-4">@Model.Value("callToActionTitle")</h1>
                <p class="lead">@Model.Value("callToActionText")</p>
                <!--Button or link for call to action-->
                @{
                var link = Model.Value<Link>("callToActionLink");
                if (link != null)
                {
                    <a href="@link.Url" target="@link.Target"
                    class="btn btn-outline-secondary">@link.Name</a>
                }
            }
            </div>
        </div>
    </div>
</sction>
