@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc
@{
    Layout = null;

    var homePage = Model.AncestorOrSelf<Home>
        ();
}

@* the fun starts here *@


<html>
<head>

    @{
        Html.RequiresCss("/css/CookieConsent.css");
        Html.RequiresJs("/scripts/CookieConsent.js");

        Html.RequiresCss("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", new
        {
            integrity = "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
            crossorigin = "anonymous"
        });

        Html.RequiresCss("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

        Html.RequiresJs("https://code.jquery.com/jquery-3.2.1.slim.min.js", new
        {
            integrity = "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN",
            crossorigin = "anonymous"
        });

        Html.RequiresJs("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js", new
        {
            integrity = "sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p",
            crossorigin = "anonymous"
        });

        Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", new
        {
            integrity = "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q",
            crossorigin = "anonymous"
        });


        Html.RequiresJs("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", new
        {
            integrity = "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl",
            crossorigin = "anonymous"
        });


        Html.RequiresJs("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js", new
        {
            integrity = "sha512-Tn2m0TIpgVyTzzvmxLNuqbSJH3JP8jm+Cy3hvHrW7ndTDcJ1w5mBiksqDBb8GpE2ksktFvDB/ykZ0mDpsZj20w==",
            crossorigin = "anonymous"
        });

    }

    @Html.RenderCssHere()
</head>
<body>

@Html.Partial("Navbar")

@RenderBody()




@Html.Partial("Footer")


<!--cookie-->

<div class="alert alert-dismissible text-center cookiealert" role="alert">
    <div class="cookiealert-container">
        <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="http://cookiesandyou.com/" target="_blank">Learn more</a>

        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
            I agree
        </button>
    </div>
</div>

@Html.RenderJsHere()
</body>
</html>